main-color = #B9CC1B;
header-color = #000099;
blue-1-color = #418fde;
blue-2-color = #0855a6;
sync-color = #007bff9c;
sync-hover-color = #007bff9c;
//folder-active-color = #FFFFFF;
folder-color = #585353;
folder-active-color = #7b7bc1;
font-white-color = #FFFFFF;
.header {
  background : blue-2-color;
}

li{
  color: white
}

.w-15 {
  width: 15%!important;
}
.w-40 {
  width: 40%!important;
}

.snippet {
   opacity : .6;
  font-size: 0.9em;
}

.settingsbtn{
  color: white;
};

.logoutbtn {
  color: white;
}
.mt-60{
  margin-top: 60px;
}
.searchContainer{
  flex-grow: 2;
  form{
    width: 52%;
  }
}
.sync-btn{
  width 100%;
  margin 0px auto;
  background: blue-1-color;
  border-color: blue-1-color;
  color: font-white-color
  &:hover{
    background blue-2-color;
    border-color: blue-2-color;

  }
}
.folders{
  a{
    color folder-color;
    &:hover{
      text-decoration none;
    }
  }

}
.folder-badge{
  background folder-color;
  color white
}
.active-folder{
  a {
    color: blue-1-color;
  }
  .folder-badge{
    background blue-1-color;
    color white
  }
}

.toolbar{
  a{
    color blue-2-color;
  }
}
//font-weight: bold