main-color = #B9CC1B;
header-color = #000099;
.header {
  background : header-color;
}

li{
  color: white
}

.w-15 {
  width: 15%!important;
}
.w-40 {
  width: 40%!important;
}

.snippet {
   opacity : .6;
  font-size: 0.9em;
}

.settingsbtn{
  color: white;
};

.logoutbtn {
  color: white;
}

//font-weight: bold